    .card {
        /* background-color: red; */
        width: 350px;
        padding: 20px;
        margin: 0 auto;
        border: 3px solid #215BA6;
        border-radius: 12px;
    }
    
    .card h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .card p {
        margin-bottom: 20px;
    }
    
    .card .btn {
        padding: 10px;
        margin-right: 15px;
        border: 1px solid #111;
        border-radius: 5px;
        background-color: inherit;
        color: #111;
        cursor: pointer;
    }